
<%= render "form" %>

<!-- <form action="/restaurants/:id" method="post">
  <label for="name">Enter a name:</label>
  <input type="text" name="restaurant[name]" value="">

  <label for="name">Enter an address:</label>
  <input type="text" name="restaurant[address]" value="">

  <label for="name">Enter a rating:</label>
  <input type="text" name="restaurant[rating]" value="">

  <input type="submit">

</form> -->
